<%# Just for test. %>

<p>RailsAmp Object ID:      <%= RailsAmp.object_id %></p>
<p>RailsAmp format:         <%= RailsAmp.format %></p>
<p>RailsAmp default_format: <%= RailsAmp.default_format %></p>
<p>RailsAmp enables:        <%= RailsAmp.enables %></p>
<p>RailsAmp MimeTypes:      <%= Mime::EXTENSION_LOOKUP %></p>
