<%# Just for test. %>
<p><%= Thread.current[:rails_amp_config] %> from global thread object</p>
<p><%= request.format %></p>
<p><%= RailsAmp.config %></p>
<p><%= RailsAmp.config.object_id %></p>
<p><%= RailsAmp.config.format %></p>
